body {
  margin: 0;
  padding: 0;

  background-color: cornflowerBlue;
  color: LightGrey;
  font-weight: bold;
}

body {
  font-family: "Roboto", Arial, sans-serif;
}

/* Für Überschriften */
h1, h2, h3 {
  font-family: "Montserrat", Arial, sans-serif;
}

/* Für den Text in einem bestimmten Absatz */
p {
  font-family: "Open Sans", Arial, sans-serif;
}

/* Für Codebeispiele */
.code {
  font-family: "Source Code Pro", monospace;
}

/* Allgemeine Stile */

.container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

.submit-btn:hover {
  background-color: #23527c;
}

/* Spezifische Stile für die Contact-Seite */

#contact {
  padding: 50px 0;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

